* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "微軟正黑體";
}

html,
body {
	height:100%;
}

.main {
	width:100%;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
