* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "微軟正黑體", "Lucida Sans", sans-serif;
}

html,
body {
	height: 100%;
	min-height: 100%;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
a.active {
  text-decoration: none;
  color: #eee;
}

a:hover,
a.active:hover,
a:focus,
a.active:focus {
  text-decoration: none;
  color: #c3f0ff;
}

p {
	margin: 0;
}

hr {
	border-top: 1px solid #bfbfbf;
	margin: 10px 20px;
}

img {
	max-width: 100%;
	height: auto;
}

.bg_block {
	width: 0%;
	height: 100%;
	background-color: #eee;
	position: fixed;
	z-index: -1;
}

.header {
	background-color: #3090b6;
	color: #ffffff;
	width: 100%;
	position: relative;
	top: 20px
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
}

.row {
	margin: auto;
}

[class*="col-"] {
	float: left;
	padding: 10px;
}

.header .header_center {
	text-align: center;
	color: #3090b6;
	background-color: #eee;
}

.header .header_center h1 {
	font-size: 2rem;
}

.main {
	position: relative;
	top: 40px
}

.main .pic_container {
	text-align: center;
	padding: 20px 0;
}

.main .pic_container .avatar {
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 175px;
	max-height: 175px;
	border-radius: 50% 50% 46% 52%;
	border: 5px solid #3090b6;
}

.main .pic_container .avatar  img {
	max-width: 100%;
	width: 142px;
	height: auto;
	transform: rotate(2deg);
}

.main .pic_container span {
	display: block;
}

.main .pic_container span.zh_name {
	color: #3090b6;
	font-size: 2.5rem;
	font-weight: bold;
}

.main .pic_container span.eng_name {
	font-size: 1.2rem;
	font-weight: bold;
}

.main .aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main .aside ul li {
	margin-bottom: 20px;
	padding: 0 0 10px 0;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main .aside ul li h6 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	background-color: #3090b6;
	color: #ffffff;
}

.main .aside ul li section {
	display: block;
	background-color: #fff;
	color: #000;
	padding: 5px 20px;
	border-top: 1px solid #bfbfbf;
	margin: 0 20px;
}

.main .aside ul li section:first-of-type {
	margin-top: 10px;
}

.main .aside ul li section:last-of-type {
	border-bottom: 1px solid #bfbfbf;
}

.main .aside ul li hr.hr_last {
	padding-bottom: 10px;
}

.main .article {
	padding-top: 2%;
}

.main .article .art_header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	justify-content: flex-start;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	
	-ms-flex-align: center;
}

.main .article .art_header > * {
	display: inline-block;
}

.main .article .art_header i {
	font-size: 2rem;
	width: 50px;
	height: 50px;
	color: #3090b6;
	border: 2px solid #3090b6;
	border-radius: 50%;
	padding: 10px 8px;
}

.main .article .art_header h4 {
	font-weight: bold;
	color: #595959;
	width: 120px;
	padding: 0 10px;
}

.main .article .art_header hr {
	width: calc(95% - 180px);
}

.main .article .art_body section {
	margin: 20px auto;
}

.main .article .art_body section .work_header {
	background-color: #e7e7e7;
	display:-webkit-flex;
	display:flex;
	position: relative;
	cursor: pointer;
}

.main .article .art_body section .work_header:hover {
	background-color: #bfbfbf;
}

.main .article .art_body section .work_header:hover time {
	background-color: #0099cc;
}

.main .article .art_body section .work_header:hover::before {
	border-left-color: #0099cc;
}

.main .article .art_body section .work_header::before {
	content: "";
	display: inline-block;
	border-top: 17.5px solid transparent;
	border-bottom: 17.5px solid transparent;
	border-left: 30px solid #3090b6;
	position: absolute;
	top: 100%;
	left: calc(25% + 14px);
	-moz-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
}

.main .article .art_body section .work_header time {
	color: #fff;
	text-align: center;
	background-color: #3090b6;
	padding: 5px 0;
	margin: auto;
	width: 25%;
}

.main .article .art_body section .work_header .work_name {
	font-weight: bold;
	padding: 5px 0px 5px 40px;
	margin: auto;
	width: 55%;
}

.main .article .art_body section .work_header .work_position {
	font-weight: bold;
	padding: 5px 0;
	margin: auto;
	width: 20%;
}

.main .article .art_body section .work_body {
	display: none;
}

.main .article .art_body section .work_body .experience {
	position: relative;
}

.main .article .art_body section .work_body .experience span {
	display: block;
	margin: 0.2rem 0;
}

.main .article .art_body section .work_body .experience span:first-of-type::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #3090b6;
	margin-right: 0.5rem;
}

.main .article .art_body section .work_body .experience span.project {
	text-indent: 0.5rem;
}

.main .article .art_body section .work_body .experience span.site_link {
	text-indent: 3rem;
}

.main .article .art_body section .work_body .experience img.qr_code {
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
}

.main .article .art_body section .license .license_name {
	display: block;
	float: left;
	margin: 0.2rem 2rem 0.2rem 1rem;
}

.footer {
	position: relative;
	top: 40px;
	width: 100%;
	background-color: #3090b6;
	color: #ffffff;
	font-size: 0.9rem;
	text-align: center;
	padding: 15px;
}

.back_top {
	width: 34px;
	height: 30px;

	right: 40px;
	bottom: 40px;
	position: fixed;
	display: none;
}
	/* 滑鼠形狀 */
.mousey {
	margin: 0px auto;
	width: 3px;
	padding: 3px 12px;
	height: 36px;
	border: 1px solid #000;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
	cursor:pointer;
}
	/* 滾輪形狀 */
.scroller {
	margin: 0px auto;
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #000;
	-webkit-animation-name: scroll;
	animation-name: scroll;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
	animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.back_top .arrow {
	display: none;
}
@keyframes scroll {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
	70% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}









/*
.aside {
	background-color: #33b5e5;
	padding: 15px;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
*/

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets 寬大於600px時 */
	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%;}
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}

	.bg_block {
		width: 38%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop 寬大於768px時 */
	.col-d-1 {width: 8.33%;}
	.col-d-2 {width: 16.66%;}
	.col-d-3 {width: 25%;}
	.col-d-4 {width: 33.33%;}
	.col-d-5 {width: 41.66%;}
	.col-d-6 {width: 50%;}
	.col-d-7 {width: 58.33%;}
	.col-d-8 {width: 66.66%;}
	.col-d-9 {width: 75%;}
	.col-d-10 {width: 83.33%;}
	.col-d-11 {width: 91.66%;}
	.col-d-12 {width: 100%;}

	.bg_block {
		width: 40%;
	}
}

@media all and (max-width: 600px) {
	.header {
		position: relative;
		top: 0;
	}

	.header_left,
	.header_right,
	.gap_block {
		display: none;
	}

	.header .header_center {
		color: #fff;
		background-color: #3090b6;
	}
}
